h1 {
    font-family: 'Luminari';
    color: blue;
    font-size: 30px;
}

ul {
    list-style-type: none;
}

ol {
    font-weight: bold;
}

li {
    text-align: center;
    border: 1px solid red;
    border-radius: 10px;
    color: blue;
    background-color: lightpink;
    padding-left: 30px;
}

img {
    width: auto;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: sans-serif;
}

h3 {
    text-decoration-line: underline;
}

html {
    background-color: rgb(159,193,201);
    background: radial-gradient(circle, rgba(159,193,201,1) 9%, rgba(224,209,221,1) 52%, rgba(0,212,255,1) 100%);
}

p {
    padding-top: 20px;
    padding-bottom: 20px;
}

h2, h3 {
    font-size: 20px;
}


/* Assign a class named important to all header tags 
and make them all underlined and bold. */
.important {
    text-decoration: underline;
    font-weight: bold;
}


/* Give the h2 header with the text "Here are some of my Skills!" 
a unique id skills-header and make turn it RebeccaPurple in color. */
#skills-header {
    color: rebeccapurple;
}

/* All links that end in .com should be the color green 
after the link is visited. */
a[href$=".com"]:visited {
    color: green;
}

/* Give the unordered list of links a class name of links-list and make it 
have a 🌐 symbol (https://github.githubassets.com/images/icons/emoji/unicode/1f310.png) 
as a bullet point. */
.links-list {
    list-style: outside url(https://github.githubassets.com/images/icons/emoji/unicode/1f310.png);
}

/* In all ordered lists change only the last child element to be bold. */
ol:last-child {
    font-weight: bold;
}

/* Give elements with an href ending ".com" a hover effect of turning red. */
a[href$=".com"]:hover {
    color: red;
}

/* Give all other elements with an href a hover effect of turning orange. */
a[href$=".org"]:hover {
    color: orange;
}

/* Center all text inside the body. */
body {
    text-align: center;
}

/* Give your languages unordered list an id of language-list, 
and change its font to be in italics. */
#language-list {
    font-style: italic;
}

/* Make the second p tag in the div have the a background-color of rgba(0,0,0,.5). */
p:nth-child(3) {
    background-color: rgba(0,0,0,.5);
}

/* The first child element in all ordered lists are not bold */
ol li:first-child {
    font-weight: normal;
}






